NYC_processed.pkl
.DS_Store
intro_pytorch_data/MNIST/raw/t10k-images-idx3-ubyte
intro_pytorch_data/MNIST/raw/t10k-images-idx3-ubyte.gz
intro_pytorch_data/MNIST/raw/t10k-labels-idx1-ubyte
intro_pytorch_data/MNIST/raw/t10k-labels-idx1-ubyte.gz
intro_pytorch_data/MNIST/raw/train-images-idx3-ubyte
intro_pytorch_data/MNIST/raw/train-images-idx3-ubyte.gz
intro_pytorch_data/MNIST/raw/train-labels-idx1-ubyte
intro_pytorch_data/MNIST/raw/train-labels-idx1-ubyte.gz
intro_pytorch_data/cifar-10-batches-py/batches.meta
intro_pytorch_data/cifar-10-batches-py/data_batch_1
intro_pytorch_data/cifar-10-batches-py/data_batch_2
intro_pytorch_data/cifar-10-batches-py/data_batch_3
intro_pytorch_data/cifar-10-batches-py/data_batch_4
intro_pytorch_data/cifar-10-batches-py/data_batch_5
intro_pytorch_data/cifar-10-batches-py/readme.html
intro_pytorch_data/cifar-10-batches-py/test_batch
intro_pytorch_data/cifar-10-python.tar.gz
